body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
 /*  HOME styles*/
#home {
  background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* MENU styles */
.menu {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 20px;
  background-color: antiquewhite;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 10px 8px #888888;
}

.menu:hover {
  background-color: grey;
}

#super-drones {
  font-size: 50px;
  display: flex;
  padding-top: 20px;
}

/* LIST.hbs styles */
.list-container {
  margin-top: 100px;
}

.list-container h2 {
  font-size: 30px;
}

h2 span {
  color: cornflowerblue;
}

.list-container p {
  font-weight: bold;
  font-size: 20px;
}

.info {
  color: rgba(32, 26, 176, 0.8);
}
.drone-container {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button-link-styling {
  background-color: aquamarine;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  border: none;
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 20px;
}

a:hover,
a:active {
  background-color: blue;
}

button:hover,
button:active {
  background-color: blue;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

/* UPDATE AND CREATE.hbs styles */

.update-create-container {
  margin-top: 100px;
}

.title-container {
  font-size: 30px;
}

.update-create-form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    border: 4px solid rgba(213, 212, 236, 0.8);
}

.update-create-form label, input {
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 20px;
}

input[value] {
  background-color: rgba(189, 197, 234, 0.8);
  border-radius: 15px;
  padding: 10px;
  font-weight: lighter;
  width: 50%;
}

input {
  background-color: rgba(189, 197, 234, 0.8);
  border-radius: 15px;
  padding: 10px;
  font-weight: lighter;
  width: 50%;
}